.footerContainer {
    padding: 20px 20px;
    background-color: #ecd9d9;
    /* position: relative; */
    margin-top: auto;
    /* position:absolute; */
    /* height: 100vh; */
    left:0;
    bottom:0;
    right:0;
}

.footBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footItems {
    color: #70012b;
}

.footItems:hover {
    color: white;
    cursor: pointer;
}

.author {
    color: #70012b;
}