.postCont > li {
    padding: 30px 60px;
    margin-top: 20px;
    margin-left: 20px;
    /* margin-bottom: 20px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-content: center; */
}

.postCont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selectPost {
    display: flex;
    flex-direction: column;
}

.submitButt {
    display: flex;
    justify-content: center;
}

.submitButtCont {
    display: flex;
    width: 100%;
    justify-content: center;
}

.submitButtCont > button {
    padding: 5px;
    border-radius: 50px;
}

.singlePostCont {
    width: 500px;
    padding: 10px;
    height: auto;
    background-color: #cd9898;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.viewCont {
    display: flex;
    justify-content: space-between;
}

.viewComm {
    display: flex;
    /* gap: 5px; */
}

.storyHead {
    margin: 15px 20px;
    border-bottom: 3px solid white;
}

.createPostTitle {
    /* color: red; */
    color: #cd9898;
}

.createPostBody {
    color: #cd9898;
}

select {
    color: #cd9898;
    background-color: white;
}

.homePostTitle {
    border-bottom: 3px solid white;
}