.postCont > li {
    padding: 30px 60px;
    margin-top: 20px;
    margin-left: 20px;
}


.postBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b";
    justify-items: center;
}

.carousel {
    width: 500px;
    height: 500px;
    border-radius: 30px;
}

.react-multi-carousel-track {
    z-index: -1
}

.carouselImgCont {
    margin-top: 100px;
    grid-area: b;
    border-radius: 30px;
}


.postCont {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    grid-area: a;
}

.selectPost {
    display: flex;
    flex-direction: column;
}

.submitButt {
    display: flex;
    justify-content: center;
}

.submitButtCont {
    display: flex;
    width: 100%;
    justify-content: center;
}

.submitButtCont > button {
    padding: 5px;
    border-radius: 50px;
}

.singlePostCont {
    max-width: 500px;
    padding: 10px;
    height: auto;
    background-color: #cd9898;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 3px 3px 3px white;
}

.viewCont {
    display: flex;
    justify-content: space-between;
}

.viewComm {
    display: flex;
}

.viewComm > a:hover {
    color:#70012b;
}

.storyHead {
    margin: 15px 25px;
    border-bottom: 3px solid white;
    display: flex;
    justify-content: space-around;
}

.storyHead > h1 {
    color: white;
}

.createPostTitle {
    color: #cd9898;
}

.createPostBody {
    color: #cd9898;
}

select {
    color: #cd9898;
}

.homePostTitle {
    border-bottom: 3px solid white;
}

.heart {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.sorting {
    display: flex;
    margin-left: 20px;
    gap: 10px;
}