.profileImg {
    width: 450px;
}

.profileCont {
    display: flex;
    flex-direction: row;
}

.modalCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profileHeader {
    margin: 15px 20px;
}