.profileImg {
    width: 450px;
    margin-left: 10px;
    margin-top: 15px;
}

.profileCont {
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.modalCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profileHeader {
    margin: 15px 20px;
}

.none {
    margin-left: 25px;
}

.viewPost > a:hover {
    color:#70012b;
}

.editCont {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
}

.postBodyCont {
    word-break: break-word;
}